img {margin: 20px; border: 2px solid black;}

h1 { font-size: 50px; margin-bottom: 20px;font-family: 'Indie Flower', cursive;}
body { background-color: lightgray; padding: 50px;}
main{ width: 1000px; margin: 0 auto;}